@media screen and (min-width: 400px) and (max-width: 649px){
    body{
        background-color: pink;
    }
}
@media screen and (min-width: 650px) {
    body{
        background-color: orange;
    }
}
@media (orientation: landscape) and (max-width: 600px){
    body{
    background-color: aliceblue;
    }
}