*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button{
    background-color: yellow;
    color: black;
    padding: 1em;
    /*em is relative to the font-size of the element */
    margin-top: 2em;
    border: none;
    border-radius: 0.2em;
    font-weight: bold;
    margin-right: 5%;
}
button:hover{
    background-color: rgb(247, 175, 40);
}
h3{
    margin-bottom: 2%;
    color: yellow;
}
.main{
    margin-top: 2vh;
   background-color: black; 
   color: white;
   padding: 5%;
   width: 75%;
   margin: 5% auto 0;
}

