@media screen and (min-width: 716px){

    div.main{
        display: flex;
    }
    div.row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    div.img{
        margin: 0 1em 0 0;
    }
    div.row div.sm-img{
        width: 30%;
    }
    div.row div.explain{
        width: 65%
    }
    div#top{
        position: relative;
        top: 3em;
    }
    div.sm-img img{
        object-fit:cover;
        object-position: center;
        height: 150px;
    }
    /* object fit prevents the over-stretching of an image when the height and width
    are not in a proportional ratio by cropping the image to prevent ugly layout or appearance */

    /* the object position decides the side that will be seen and crops from the other side */
}
