@media screen and (max-width: 715px){
    div.navbar,nav ul{
        display: flex;
        flex-direction: column;        
    }
    div.header,nav ul{
        margin: auto;
        margin-bottom: 1em;
        width: 100%;
    }
    div.header{
        text-align: center;
    }    
    nav ul li{
        margin:  .5em 0;
    }
    li{
        text-align: center;
    }    
}